  body {
    margin-left:20px;
    margin-top:20px;
    margin-bottom:30px;
    font-family: sans-serif;
    height:100%;
  }
  .elements {
    list-style: none;
    margin: 30px 0 0 0;
    padding: 0;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    color: black;
    /*background-color: #2196f3;*/
  }
  .inelements {
    box-shadow: 0 0 0 2px #546578 inset;
    margin: 0 0 5px 0;
    border-radius: 16px;
    line-height: 28px;
    padding: 2px 15px;
    font-weight: 500;
    font-size: 15px;
    color: black;
    overflow:auto;
    color: white;
    background-color: #2196f3;
  }
  .jk{
    margin-top: 50px;
  }
  .side{
    color: white;
  }
 .colum{
   color:white;
   border: 2px;
   border-radius: 20px;
   background-color: #2196f3;
 }
 hr {
     display: block;
     margin-top: 0.5em;
     margin-bottom: 0.5em;
     margin-left: auto;
     margin-right: auto;
     border-style: inset;
     border-width: 1px;
 }
 .butt {
    background-color: white;
    border: none;
    color:#2196f3 ;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-family: 'Nunito', sans-serif;
    border-radius: 10px;
}

.butt1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.butt2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.firstbox{
  background-image: url("http://res.cloudinary.com/dtkrqoejy/image/upload/v1488710509/b2_sxqg95.jpg");
  height:545px;
}
.secondbox{
  background-color:#2196f3;
  height: 420px;
  font-size: 26px;
  text-align: center;
  color:white;
  font-family: 'Patua One', cursive;
}
.middle{
  height: 500px;
  border: 2px solid;
}
.thirdbox{
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  font-size: 30px;
  color:#2196f3;
}
.fourthbox{
background-color:#2196f3;
}
.text{
text-align: center;
color:white;
font-size: 20px;
font-family: 'Source Code Pro', monospace;
}
.copyright{
  text-align: center;
  color:white;
  font-size: 16px;
  font-family: 'Arvo', serif;
}
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}
